.topCard {
    flex-direction: row;
    align-items: center;
}
@media screen and (max-width: 519px) {

    .topCard {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
    }
  }


.bottomCard {
    flex-direction: row;
    align-items: center;
}
@media screen and (max-width: 519px) {

    .bottomCard {
      display: flex;
      flex-direction: column;
      justify-content: center;

    }
  }

  .bottomImg {
    width: 50%;
  }
  @media screen and (min-width: 1400px) {

    .bottomImg {
      width: 46.3%;
    }
  }